body {
	background-image: url('../images/forest_sunny_web.jpg');
	background-size: 1300px 900px;
}

h1 {
	color: silver;
	padding: 10px;
	width: 65%;
	background-color: black;
	opacity: 0.7;
	margin-left: 40px;

}

#nav-wrapper {
	width:600px;
	margin-bottom: 20px;
	padding: 5px;

}

ul#nav {
	font-family: verdana;
	font-size: 14px;
	list-style: none;

}

ul#nav li{
	display: inline;
}

ul#nav li a {
	border-top:2px solid #815444;
	border-right:2px solid #3d1000;
	border-bottom:2px solid #3d1000;
	border-left:2px solid #815444;
	text-decoration: none;
	color: #3A3E19;
	font-weight: bold;
	background-color: #CB9226;
	border-radius: 25px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 6px;
	padding-right: 6px;
	margin-right: 10px;
}

#feature {
	width: 65%;
    float: left;
	background-color: #382414;
	border-radius: 25px;
	padding: 15px;
	margin-bottom: 20px;
	margin-left: 40px;
	margin-right: 40px;
	box-shadow:5px 5px 20px #000000;
	color: #DE8E4E;

}

p.comment {
	color: #89913B;

}

.article_grid_4 img {
	margin-left: 40px;
	float: left;
	height: 350px;
}


h2 {
	color: #CF4A82;

}









