/*I have referenced my sources in comments throughout this document. I
just found them by googling around and also from reaching blog posts 
and forums.

I found this website on the design shack blog (see below) and used 
it to work out colours
https://color.adobe.com 

I found this site call font stack, I used this to figure out
 a nice font:
 http://www.cssfontstack.com/

/* For the background I used the CSS3 pattern found here: 
http://lea.verou.me/css3patterns/#rainbow-bokeh
I realise there may be some browser compatabilty issues but thought 
it would be fun to try. If you have any advice as to how to get 
around browser issues I'd be grateful or is it best to not use these 
just yet?*/
html
 {
	font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	background: 
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
	linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
	background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
	background-color: #840b2a;
}

/*I used this page to help with with box-sizing (I know you covered this, 
just used this to revise)
http://www.w3schools.com/cssref/css3_pr_box-sizing.asp*/
section {
	box-sizing: border-box;
    width: 65%;
    float: left;
	max-width: 800px;
	background-color: #534947;
	border-radius: 25px;
	color: #CC563C;
	padding: 15px;
	margin-bottom: 20px;
	margin-left: 40px;
	margin-right: 40px;
	box-shadow:5px 5px 20px #000000;
}

/* I found out how to do drop shadows here:
http://designshack.net/articles/css/12-killer-tips-for-designing-in-the-browser/
*/

.subsection {
	
	background-color: #DACEb8;
	box-shadow:5px 5px 20px #000000;
	border-radius: 25px;
	padding: 15px;
	margin-bottom: 25px;
	color: #534947;
}

.italic {
	font-style: italic;
}

h1 {
	font-size: 30px;
	font-weight: 500;
	line-height: 26.4px;
	color: #DACEb8;
	padding-left: 60px;
}

h2 {
	padding-left: 10px;
}

h3 {
	font-weight: 900;
	line-height: 15.4px;
	border-bottom: 1px solid #534947;
}

h4 {
	font-size: 16px;
	font-weight: 900;
	line-height: 0px;
	
}

p {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

ul {
	font-size: 14px;
}

footer {
	color: #C14386;
	padding-left: 15px;
}

footer a:link {
	color:green; 
	background-color:transparent;
	text-decoration:underline;
}



