  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>&copy Copyright Helen Taylor 2015</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right"> 
              <li><a href="../Projects/projects.html">Projects</a></li>
              <li><a href="../CompSci/compsci.html">CompSci</a></li>
              <li><a href="../Language/language.html">Language</a></li>
              <li><a href="../Tools/tools.html">Tool Belt</a></li>
              <li><a href="../contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div> 

  </footer>