<head>
    <meta name="description" content="An adventure into software development"/>
    <meta name="keywords" content="programming, software development, software craftswoman apprenticeship, software development, apprentice"/>
    <meta http-equiv="author" content="Helen Taylor"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{page.title }}</title>
    <link rel="stylesheet" href="../css/foundation.css" />
    <link rel="stylesheet" href="../css/custom.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../js/vendor/modernizr.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="../js/processing.js"></script>
  </head>